/* general reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fafafa;
    color: #333;

}


/* header and navigation bar */

header {
    background-color: #333;
    padding: 10px 0;
    width: 100vw;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav button {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

nav button:hover {
    background-color: #fff;
    color: #333;
    border-color: #333;
}

nav button:focus {
    outline: none;
}

/* main content */

main {
    margin: 0 auto;
    text-align: center;
}

.main-background {
    background-image: url("../images/peaches.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
}

main h1 {
    padding-top: 20px;
}


main h2 {
    margin-top: 40px;
    font-size: 28px;
    padding-top: 10px;
}

main p {
    font-size: 18px;
    line-height: 1.5;
}

.summary {
    padding: 10px;
    text-decoration: solid;
    color: black;
    font-weight: 900;
}

/* menu content*/
.menuSection {
    background-image: url("../images/peaches.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding: 20px;
}

.namePlate {
    padding-bottom: 20px;
}

.namePlate h3 {
    text-decoration: underline;
}

.menuSection h2 {
    padding-bottom: 20px;
}
section ul {
    list-style-type: none;
    padding: 0;
}

section ul li {
    font-size: 20px;
    margin: 10px 0;
}

/* footer */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

}

/* about section */
.aboutMain {
    background-image: url("../images/peaches.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.aboutMain h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}

.aboutMain p {
    line-height: 1.5;
    margin-bottom: 1rem;
    max-width: 700px;
    background-color: #f9f4f0;
    border: solid #333;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px;
}

.chef-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.chef-container img {
    width: 150px;
    height: auto;
    border-radius: 50%;
}

.chef-container h3 {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    color: #555;
}

/* contact section */

.contact-main {
    padding: 2rem;
    margin: 0 auto;
    color: #333;
    background-image: url("../images/peaches.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    text-align: center;
    padding: 20px;
}

.contact-info, .contact-form {
    margin-bottom: 2rem;
}

.contact-info p {
    font-size: 1.1rem;
    text-align: center;
    margin: 0.5rem 0;
}


.contact-form form {
    display: flex;
    flex-direction: column;
    max-width: 400px;     
    margin: 0 auto;
}

.contact-form label {
    margin: 0.5rem 0 0.2rem;
}

.contact-form input, .contact-form textarea {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form button {
    margin-top: 1rem;
    padding: 0.7rem;
    font-size: 1.1rem;
    color: #fff;
    background-color: #8a2be2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #7a1bd2;
}

/* responsive design */
@media (max-width: 800px){
    nav {
        flex-direction: column;
    }
    nav button {
        margin: 5px 0;
    }

    main h2 {
        font-size: 24px;
    }

    main p {
        font-size: 16px;
    }
}



